@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --border-radius: 25px;
}

body {
    background-color: hsl(216, 12%, 8%);
}

.rating-card {
    background-color: hsl(213, 19%, 18%);
    height: 400px;
    width: 400px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
}

.rating-card > div {
    flex-grow: 1;
    flex-shrink: 3;
    background: none;
}

.rating-card .rating-star {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.rating-card .rating-text {
    flex-grow: 1;
    flex-shrink: 0;
}

.rating-card .rating-text h1{
    margin-top: 0;
    color: white;
    font-weight: 700;
}

.rating-card .rating-text p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.6;
}

.rating-card .rating-button-div {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.rating-star .star {
    height: 50px;
    width: 50px;
    background-color: hsl(216, 12%, 25%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-numbers {
    color: hsl(217, 12%, 63%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.rating-numbers > input{
    display: none;
}

.rating-numbers > label {
    background-color: hsl(216, 12%, 25%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-numbers > label:hover {
    background-color: hsl(217, 12%, 63%);
    color: white;
    cursor: pointer;
}

.rating-numbers > label:active {
    background-color: hsl(25, 97%, 53%);
}

.rating-numbers > input:checked + label{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.rating-button-div button{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.rating-button-div button:hover{
    cursor: pointer;
    color: hsl(25, 97%, 53%);
    background-color: white;
}

.rating-thankyou-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.rating-selected .rating-selected-values {
    color: hsl(25, 97%, 53%);
    background-color: hsl(216, 12%, 25%);
    padding: 5px 15px;
    border-radius: 13px;
}

.rating-text {
    text-align: center;
}
